body {
  font-family: sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  background: #c62828; /* الأحمر المصرى الهلال */
  color: white;
  border: none;
  border-radius: 12px;
}

h1 {
  color: #c62828;
}

h2 {
  margin-bottom: 20px;
}